<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.jiajun.demo">
    <!-- 需要动态申请的权限 -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- 后台自动授予的权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".app.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="${APP_NAME}"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.Design.Light.NoActionBar"
        tools:replace="android:label">
        <activity android:name=".moudle.start.SplashActivity">
        <!--<activity android:name=".moudle.account.LoginActivity">-->
            <!--<activity android:name=".moudle.main.MainsActivity">-->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".moudle.account.RegisterActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".moudle.start.welcome.WelcomeActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".moudle.me.PersonalInfoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".moudle.main.MainsActivity"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".moudle.account.ForgetPasswordActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".moudle.webview.WebViewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />

        <!--<activity-->
            <!--android:name=".moudle.start.SplashActivity"-->
            <!--android:configChanges="orientation|keyboardHidden|screenSize" /> -->
        <activity
            android:name=".moudle.account.LoginActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
    </application>

</manifest>